body{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.mainHead{
  height: 2em;
  width: 100vw;
  background: lightgreen;
}
#btnGroup{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  background: lightcoral;
}
#adoptContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  background: lightblue;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border: none;
  background: aliceblue;

}
.card-title{
  text-align: center;
}
.card img{
  height: auto;
  width: 75%;
  overflow: hidden;
}
.card ul{
  background: aliceblue;
}
.buttonBody{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background: lightgoldenrodyellow;
}
